.about {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 140px;
  & .container {
    @media (max-width: 811px) {
      margin: 0 auto;
      padding: 0 0px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 140px;
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 811px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding-left: 110px;
    }
    @media (max-width: 600px){
        padding-left: 90px;
    }
    @media (max-width: 520px){
        padding-left: 70px;
    }
    @media (max-width: 490px){
        padding-left: 50px;
    }
     @media (max-width: 460px){
padding-left: 37px;
     }
     @media (max-width: 445px){
        padding-left: 28px;
    }
    @media (max-width: 430px){
        padding-left: 20px;
    }
    &-card1 {
      @include about__card;
    }
    &-card2 {
      @include about__card;
    }
    &-card3 {
      @include about__card;
    }
  }
  &__content {
    text-align: center;
    &-title {
      h4 {
        font-family: "Josefin Sans";
        font-weight: 600;
        font-size: 43px;
        line-height: 1.3;
        letter-spacing: 0;
        text-align: center;
      }
    }
    &-description {
      p {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0;
        text-align: center;
      }
    }
  }
}
