.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  & .container{
    position: relative;
    width: 1146px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__content {
    display: flex;
    gap: 40px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    &-subtitle {
      display: flex;
      flex-direction: column;

      h5 {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 0;
        text-align: center;
        color: $danger-color;
      }
    }
    &-title {
      h4 {
        font-family: "Josefin Sans";
        font-weight: 600;
        font-size: 43px;
        line-height: 1.3;
        letter-spacing: 0;
        text-align: center;
        color: $primary-color;
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    &-number {
        display: flex;
        gap: 15px;
        span{
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 24px;
      line-height: 1.5;
      letter-spacing: 0;
      text-align: center;
      color: $primary-color;
        }
    }
    &-email {
        display: flex;
        gap: 15px;
        button{
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 24px;
      line-height: 1.5;
      letter-spacing: 0;
      text-align: center;
      color: $primary-color;
        }
    }
    &-icons{
        display: flex;
        gap: 40px;
        padding-top: 5px;
    }
}
&__socials-coffee{
    display: flex;
    &-left{
        position: absolute;
        top: 0;
        left: 0px;
    }
    &-right{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
}
