.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 140px;
  & .container{
    @media (max-width: 600px){
        margin: 0 auto;
  padding: 0 0px;

    }
    @media (max-width: 470px){
        margin: 0 auto;
  padding: 0 0px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
  }
  &__content {
    text-align: center;
    justify-content: center;
    align-items: center;
    &-title {
      h3 {
        font-family: "Josefin Sans";
        font-weight: 600;
        font-size: 43px;
        line-height: 1.3;
        letter-spacing: 0;
        text-align: center;
      }
    }
    &-description {
      p {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0;
        text-align: center;
      }
    }
  }
  &__images {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    &-image5 {
      transform: translateY(-100px);
    }
    @media (max-width: 1200px){
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        &-image5 {
      transform: translateY(0px);
    }
    }
  }
  &__button {
    button {
      padding: 15px 178px;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0;
      text-align: center;
      border: 3px solid #0D0402;
      color: $danger-color;
      border-right: none;
      border-left: none;
      @media (max-width: 470px){
        width: 100px;
        padding-left:  120px;
      }
    }
  }
}
