
@import './base/variables';  
@import './base/fonts';      
@import './base/base';        
@import './base/mixin';


@import './sections/header';
@import './sections/hero';
@import './sections/about';
@import './sections/catalog';
@import './sections/contact';
@import './sections/footer';
@import './sections/gallery';