@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/OpenSans-VariableFont_wdth-wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../assets/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}