@mixin card-style($width: 310px, $height: 542px, $gap: 15px) {
  display: flex;
  flex-direction: column;
  width: $width;
  height: $height;
  gap: $gap;

  &-content-price p {
    font-family: "Josefin Sans";
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 35px;
  }
  &-content-title h5 {
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0;
  }
  &-content-description p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
  }
  &-buttons {
    display: flex;
    gap: 20px;
    padding-top: 15px;
  }

  &-buttons-wrapper {
    display: flex;
    border: 2px solid #000000;
    border-radius: 4px;
  }
  &-buttons-choose {
    display: flex;
    flex-direction: column;
  }
  &-buttons-number {
    display: flex;
    align-items: center;
    border-right: 2px solid #000000;
    button {
      padding: 0px 24px;
      font-family: "Josefin Sans";
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;
      letter-spacing: 0;
    }
  }
  &-buttons-plus {
    border-bottom: 2px solid #000000;
    button {
      padding: 0px 20px;
      padding-bottom: 2px;
      font-family: "Josefin Sans";
      font-size: 24px;
    }
  }
  &-buttons-minus {
    padding-left: 3px;
    button {
      padding: 0px 20px;
      font-family: "Josefin Sans";
      font-size: 24px;
    }
  }
  &-buttons-submit-button {
    display: flex;
    align-items: center;
    button {
      padding: 15px 30px;
      background-color: $danger-color;
      color: $primary-color;
      border-radius: $border-radius;
      font-family: "Josefin Sans";
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
    }
  }
}
@mixin about__card($width: 362px, $height: 536px) {
  display: flex;
  flex-direction: column;
  width: $width;
  height: $height;
  box-shadow: 40px 15px 136px 0px #00000033;
  border-radius: 20px;
  &-content {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    &-title {
      h5 {
        font-family: "Josefin Sans";
        font-weight: 600;
        font-size: 32px;
        line-height: 1.3;
        letter-spacing: 0;
      }
    }
  }
  &-buttons {
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
    gap: 10px;
    &-button {
      button {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0;
        color: $danger-color;
      }
    }
    &-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      &-arrow1 img {
        transform: translateY(1.2px);
      }
      &-arrow2 img {
        transform: translateX(-7px);
      }
    }
  }
}
