
@mixin card-style ($width: 310px, $height: 542px,){
    display: flex;
    flex-direction: column;
    width: $width;
    height: $height;

    &-content-price p{
      font-family: "Josefin Sans";
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0;
    }
    &-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 35px;
    }
    &-content-title h5 {
      font-family: "Josefin Sans";
      font-weight: 600;
      font-size: 32px;
      letter-spacing: 0;
    }
    &-content-description p {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0;
    }
    &-buttons-wrapper{
        display: flex;
    }
    &-buttons-choose{
        display: flex;
        flex-direction: column;
    }
    &-buttons-number{
        display: flex;
        button{
            padding: 13px 21px;
            border: 3px solid #000000;
        }
    }
    &-buttons-plus{
        button{
            padding: 10px 24px;
            border: 3px solid #000000;
        }
        
    }
    &-buttons-minus{
        button{
            padding: 14px 24px;
            border: 3px solid #000000;
        }

    }
  }
