// Цвета
$primary-color: #ffffff;
$secondary-color: #000000;
$danger-color: #FF4B32;
$text-color: #333;
$bg-color: #ffffffa6;

// Отступы
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;

// Шрифты
$font-primary: 'OpenSans-VariableFont', sans-serif;
$font-secondary: 'JosefinSans-VariableFont', sans-serif;

// Прочее
$border-radius: 8px;
$transition: all 0.3s ease;